Repository Novicell/novicell-frontend, pull requests merged in 2018-06, with the labels that each got.

#209 general clean up an fixing broken stuff
  assets/fonts/lato-bold.woff
  assets/fonts/lato-bold.woff2
  assets/icons/icon-box.svg
  assets/icons/icon-credit-card.svg
  assets/icons/icon-facebook.svg
  assets/icons/icon-google-plus.svg
  assets/icons/icon-online-shop.svg
  assets/icons/icon-shop.svg
  assets/icons/icon-twitter.svg
  assets/images/logo.png
  assets/images/logo.svg
  fractal/fractal.js
  fractal/novicell-fractal-styles.css
  gulp/config.js
  package-lock.json
  patterns/01-atoms/buttons/button/button.css
  patterns/01-atoms/forms/label/label.css
  patterns/01-atoms/forms/novicell.input-mask.js
  patterns/01-atoms/forms/novicell.persistent-field.js
  patterns/01-atoms/forms/novicell.validation.js
  patterns/01-atoms/headings/heading/heading.css
  patterns/01-atoms/headings/heading/heading.hbs
  patterns/01-atoms/image/image--bg.hbs
  patterns/01-atoms/image/image--measure.hbs
  patterns/01-atoms/image/image.config.json
  patterns/01-atoms/image/image.hbs
  patterns/01-atoms/links/link-social/link-social--facebook.hbs
  patterns/01-atoms/links/link-social/link-social--google-plus.hbs
  patterns/01-atoms/links/link-social/link-social--twitter.hbs
  patterns/01-atoms/logo/logo.hbs
  patterns/01-atoms/paragraph/paragraph.config.json
  patterns/01-atoms/paragraph/paragraph.css
  patterns/01-atoms/paragraph/paragraph.hbs
  patterns/01-atoms/svg-icon/svg-icon--checkbox.hbs
  patterns/01-atoms/svg-icon/svg-icon.hbs
  patterns/02-molecules/box/box-image/box-image.config.json
  patterns/02-molecules/box/box-image/box-image.css
  patterns/02-molecules/box/box/box.css
  patterns/02-molecules/box/icon-box/icon-box.config.json
  patterns/02-molecules/box/icon-box/icon-box.hbs
  patterns/02-molecules/form-field/form-field.config.json
  patterns/02-molecules/form-field/form-field.css
  patterns/02-molecules/social-media-collection/social-media-collection.css
  patterns/02-molecules/social-media-collection/social-media-collection.hbs
  patterns/03-organisms/boxes/icon-boxes/icon-boxes.config.json
  patterns/03-organisms/boxes/icon-boxes/icon-boxes.hbs
  patterns/03-organisms/footer/footer.config.json
  patterns/03-organisms/footer/footer.css
  patterns/03-organisms/footer/footer.hbs
  patterns/03-organisms/slider/slider.config.json
  patterns/03-organisms/slider/slider.js
  patterns/03-organisms/topbar/topbar/topbar.config.json
  patterns/03-organisms/topbar/topbar/topbar.css
  patterns/03-organisms/topbar/topbar/topbar.hbs
  patterns/04-pages/frontpage/frontpage.hbs
  patterns/_base/_fonts.css
  patterns/_base/_grid.css
  patterns/_base/_variables.css
  patterns/_base/master.css
Labels: build tool, css, docs, feature, fractal

#215 Add watch task to scripts in the block's directory #214
  gulp/config.js
Labels: fractal, gulp

#211 Add loader patterns #210
  .stylelintrc
  patterns/01-atoms/loaders/loader-bar/loader-bar.config.json
  patterns/01-atoms/loaders/loader-bar/loader-bar.css
  patterns/01-atoms/loaders/loader-bar/loader-bar.hbs
  patterns/01-atoms/loaders/loader-spinner/loader-spinner--large.hbs
  patterns/01-atoms/loaders/loader-spinner/loader-spinner.config.json
  patterns/01-atoms/loaders/loader-spinner/loader-spinner.css
  patterns/01-atoms/loaders/loader-spinner/loader-spinner.hbs
  patterns/_base/master.css
Labels: feature, fractal
