Repository Novicell/novicell-frontend, pull requests merged in 2018-02, with the labels that each got.

#186 Remove space from include
  patterns/01-atoms/buttons/button/button--ghost.hbs
  patterns/01-atoms/buttons/button/button--large.hbs
  patterns/01-atoms/forms/input/input--email.hbs
  patterns/01-atoms/forms/input/input--password.hbs
  patterns/01-atoms/forms/input/input--search.hbs
  patterns/01-atoms/forms/input/input--text.hbs
  patterns/01-atoms/headings/heading/heading--column.hbs
  patterns/01-atoms/headings/heading/heading--footer.hbs
  patterns/01-atoms/headings/heading/heading--hero.hbs
  patterns/01-atoms/links/link-button/link-button--ghost.hbs
  patterns/01-atoms/links/link-social/link-social--facebook.hbs
  patterns/01-atoms/links/link-social/link-social--google-plus.hbs
  patterns/01-atoms/links/link-social/link-social--twitter.hbs
  patterns/01-atoms/links/link/link--email.hbs
  patterns/01-atoms/links/link/link--phone.hbs
  patterns/01-atoms/paragraph/paragraph--hero.hbs
  patterns/01-atoms/svg-icon/svg-icon--checkbox.hbs
  patterns/02-molecules/box/text-box/text-box--centered.hbs
  patterns/02-molecules/link-list/link-list--horizontal.hbs
  patterns/helpers/grid/grid-row/grid-row--three-columns.hbs
Labels: fractal

#189 Remove old css grid
  patterns/02-molecules/box/box-image/box-image.css
  patterns/02-molecules/topbar/topbar/topbar.hbs
  patterns/03-organisms/boxes/about-boxes/about-boxes.hbs
  patterns/03-organisms/boxes/feedback-box/feedback-box.hbs
  patterns/03-organisms/boxes/primary-boxes/primary-boxes.hbs
  patterns/03-organisms/boxes/secondary-boxes/secondary-boxes.hbs
  patterns/03-organisms/footer/footer.hbs
  patterns/03-organisms/header/header.hbs
  patterns/03-organisms/hero/hero.hbs
  patterns/03-organisms/section/image-text-section/image-text-section.hbs
  patterns/03-organisms/section/text-image-section/text-image-section.hbs
  patterns/04-pages/frontpage/frontpage.hbs
  patterns/04-pages/page/page.hbs
  patterns/_base/_grid.css
  patterns/_base/master.css
  patterns/helpers/grid/grid-column/grid-column.config.json
  patterns/helpers/grid/grid-column/grid-column.css
  patterns/helpers/grid/grid-column/grid-column.hbs
  patterns/helpers/grid/grid-container/grid-container--full-width.hbs
  patterns/helpers/grid/grid-container/grid-container--site-width.hbs
  patterns/helpers/grid/grid-container/grid-container.config.json
  patterns/helpers/grid/grid-container/grid-container.css
  patterns/helpers/grid/grid-container/grid-container.hbs
  patterns/helpers/grid/grid-row/grid-row--three-columns.hbs
  patterns/helpers/grid/grid-row/grid-row--two-columns.hbs
  patterns/helpers/grid/grid-row/grid-row.config.json
  patterns/helpers/grid/grid-row/grid-row.css
  patterns/helpers/grid/grid-row/grid-row.hbs
  patterns/helpers/main/main.config.json
  patterns/helpers/main/main.css
  patterns/helpers/main/main.hbs
Labels: css, fractal

#190 List page to fractal
  patterns/02-molecules/list-page-item/list-page-item--card.hbs
  patterns/02-molecules/list-page-item/list-page-item.config.json
  patterns/02-molecules/list-page-item/list-page-item.css
  patterns/02-molecules/list-page-item/list-page-item.hbs
  patterns/02-molecules/list-page-link/list-page-link.config.json
  patterns/02-molecules/list-page-link/list-page-link.css
  patterns/02-molecules/list-page-link/list-page-link.hbs
  patterns/03-organisms/list-page/list-page.config.json
  patterns/03-organisms/list-page/list-page.css
  patterns/03-organisms/list-page/list-page.hbs
  patterns/_base/master.css
Labels: feature, fractal

#168 Clear the 'X' from IE & Chrome
  patterns/01-atoms/forms/input/input.css
Labels: css
